{% extends '/Layout/Templates/base.html.twig' %}

{% block actionbar %}{% endblock %}

{% block content %}

  {% form add %}

    <div class="row fork-module-content">
      <div class="col-md-8">
        <div role="tabpanel">
          <ul class="nav nav-tabs" role="tablist">
            {% for language in languages %}
              <li role="presentation" {% if loop.first %} class="active" {% endif %}>
                <a href="#tab{{language.abbreviation|ucfirst}}" aria-controls="tab{{language.abbreviation|ucfirst}}" role="tab" data-toggle="tab">{{language.label}}</a>
              </li>
            {% endfor %}

            <li role="presentation">
              <a href="#tabImages" aria-controls="tabImages" role="tab" data-toggle="tab">{{ 'lbl.Images'|trans|ucfirst }}</a>
            </li>



          </ul>
          </div>

          <div class="tab-content">

          {% for language in languages %}
            <div role="tabpanel" class="tab-pane {% if loop.first %} active {% endif %}" id="tab{{language.abbreviation|ucfirst}}">
            <div class="row">

                <div class="col-md-12">

                    <div class="form-group">
                        <label for="name{{language.abbreviation|ucfirst}}" class="control-label">
                            {{ 'lbl.Name'|trans|ucfirst }} {{ macro.required }}
                        </label>
                        {{ language.name_field|raw}}

                        {% if language.name_errors %}
                            <p><span class="formError">{{ language.name_errors  }}</span></p>
                        {% endif %}




                    </div>

                    <div class="panel panel-default panel-editor">
                      <div class="panel-heading">
                        <p>{{ 'lbl.MainContent'|trans|ucfirst }}</p>
                      </div>
                      <div class="panel-body">
                        {{ language.description_field|raw}}
                      </div>
                    </div>

                </div>
                </div>
            </div>
          {% endfor %}


          <div role="tabpanel" class="tab-pane" id="tabImages">
               <p>{{ 'msg.YouCanAddImagesAfterSaving'|trans }}</p>
          </div>



         </div>


      </div>

       <div class="col-md-4">

           <div class="panel panel-default">
              <div class="panel-heading">
                <p>{{ 'lbl.Status'|trans|ucfirst }}</p>
              </div>
              <div class="panel-body">
                <div class="form-group">
                  <ul class="list-unstyled">
                    {% for _itr_4 in hidden %}
                      <li class="radio">
                        <label for="{{ _itr_4.id }}">{{ _itr_4.rbtHidden|raw }} {{ _itr_4.label }}</label>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
                <div class="form-group last">
                  <label for="publishOnDate" class="control-label">{{ 'lbl.PublishOn'|trans|ucfirst }}</label>
                  {% form_field publish_on_date %} {% form_field_error publish_on_date %}
                  <label for="publishOnTime" class="control-label">{{ 'lbl.At'|trans }}</label>
                  {% form_field publish_on_time %} {% form_field_error publish_on_time %}
                </div>
              </div>
            </div>

            <div class="panel panel-default">
               <div class="panel-heading">
                 <p>{{ 'lbl.Widgets'|trans|ucfirst }}</p>
               </div>
               <div class="panel-body">

                 <div class="form-group last">
                     <ul class="list-unstyled">
                        <li class="checkbox">
                             <label for="slideshow" class="control-label">{% form_field slideshow %} {{ 'lbl.Slideshow'|trans }}</label>
                             {% form_field_error slideshow %}
                        </li>
                        <li class="checkbox">
                             <label for="lightbox" class="control-label">{% form_field lightbox %} {{ 'lbl.Lightbox'|trans }}</label>
                             {% form_field_error lightbox %}
                        </li>
                     </ul>

                 </div>
               </div>
             </div>






       </div>

    </div>

    <div class="row fork-module-actions">
      <div class="col-md-12">
        <div class="btn-toolbar">
          <div class="btn-group pull-right" role="group">

            <button id="addButton" type="submit" name="add" class="btn btn-primary">
              <span class="fa fa-plus-square"></span>{{ 'lbl.Add'|trans|ucfirst }}
            </button>
          </div>
        </div>
      </div>
    </div>

  {% endform %}

{% endblock %}
